.row{
	width:100%;
	display:flex;
	padding:10px;
	padding-left: 0px;
}

.col-2{
	padding:10px;
	padding-left: 0px;
	content-align:left;
	width:20%;
}
.col-4 {
    padding:10px;
	width:30%;
}
.col-5 {
    padding:10px;
	width:40%;
}
.col-6 {
	padding:10px;
	width:50%;
}
.col-7 {
	padding:10px;
	width:60%;
}
.col-8{
	padding:10px;
	width:80%;
}

.col-offset-1 {
    margin-left: 10%
}

.col-offset-2 {
    margin-left: 20%
}
.col-offset-3 {
    margin-left: 30%
}
.col-offset-4 {
    margin-left: 40%
}
.col-offset-5 {
    margin-left: 50%
}
.col-offset-6 {
    margin-left: 60%
}
.col-offset-7 {
    margin-left: 70%
}
.col-offset-8 {
    margin-left: 80%
}
.col-offset-9 {
    margin-left: 90%
}

body{
	padding-left: 0px;
}

.buttonRow{
	padding:2px;
	padding-right: 20px;
	padding-left: 0px;
}

.logoRow{
	text-align: center;
	padding:10px;
}

.socialMediaRow{
	min-width: 100%;
	text-align: center;
	padding-top: 10px;
}

