.row{
	width:100%;
	display:flex;
	padding:10px;
	padding-left: 0px;
}

.col-2{
	padding:10px;
	padding-left: 0px;
	content-align:left;
	width:20%;
}

.col-8{
	padding:10px;
	width:80%;
}

body{
	padding-left: 0px;
}

.buttonRow{
	padding:2px;
	padding-right: 20px;
	padding-left: 0px;
}

.logoRow{
	text-align: center;
	padding:10px;
}

.socialMediaRow{
	min-width: 100%;
	text-align: center;
	padding-top: 10px;
}

